.navbar-top {
  background: #fff;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 60px;
}

/* Search bar */

.search-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.search-button {
  padding: 12px 20px;
  background: #d10000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

/* ===== BOTTOM BAR ===== */

.navbar-bottom {
  background: #fafafa;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.nav-item:hover {
  color: #d10000;
}

/* Contact info */

.contact-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #333;
}

* Iconos carrito y usuario */

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
}

.icon {
  font-size: 26px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.icon:hover {
  color: #d10000;
}

/* Contador carrito */
.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #d10000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}